<module>
	<rawname>tidecity</rawname>
	<name>Tide by City</name>
	<version>0.0.0.3</version>
	<license>GNU GPL2</license>
	<type>setup</type>
	<category>Other</category>
	<menuitems>
		<tidecity>Tide by City</tidecity>
	</menuitems>
    <publisher>RECONWIRELESS</publisher> 
	<description>
                Provide U.S. TIDES by City
        </description>
	 <changelog>
			*0.0.0.3 Added GUI entry for city and zip
	 		*0.0.0.2 Added weather module back in for testing
			*0.0.0.1 1st Module trial fork from POSSA weather by zip 
			*0.0.0* 1st Module trial fork from POSSA weather by zip  
        </changelog>
	<info>https://github.com/reconwireless/freepbx-tide-by-city</info>
	<location>https://github.com/reconwireless/freepbx-tide-by-city</location>
 </module>
